/* General */
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #edf4c2;
  font-family: "Lexend Giga", sans-serif;
  min-height: 100vh;
  margin: 0;
}

/* Input and Button */
input[type="search"] {
  width: 800px;
  padding: 1rem;
  font-size: 1.2rem;
  border: 2px solid #ffffff;
  border-radius: 8px;
  margin-bottom: 1.5rem;
  outline: none;
  transition: all 0.3s ease;
}

input[type="search"]:focus {
  border-color: #ffffff;
  box-shadow: 0 0 5px rgba(34, 34, 59, 0.3);
}

.button-app {
  width: 500px;
  height: 50px;
  display: block;
  font-size: 1.1rem;
  color: #fff;
  background-color: #7381cd;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  margin: 0 auto;
  margin-bottom: 15px;
}

input::placeholder {
  text-align: center;
  font-size: 24px;
  font-family: "Lexend Giga";
}

.button-app:hover {
  background-color: #22223b;
  transform: scale(1.05);
}

.button-app:active {
  transform: scale(1);
}

/* Media Queries for Phones */
@media (max-width: 768px) {
  input[type="search"] {
    width: 90%; /* Reduce el ancho para adaptarse a pantallas pequeñas */
    font-size: 1rem;
    padding: 0.8rem;
  }

  .button-app {
    width: 90%; /* Botón ocupa el mismo ancho que el input */
    font-size: 1rem;
    height: 45px; /* Reduce un poco la altura */
  }

  input::placeholder {
    font-size: 18px; /* Ajusta el tamaño del texto */
  }
}

@media (max-width: 480px) {
  input[type="search"] {
    font-size: 0.9rem; /* Tamaño del texto más pequeño */
    padding: 0.6rem;
  }

  .button-app {
    font-size: 0.9rem; /* Ajusta el texto del botón */
    height: 40px; /* Más pequeño para pantallas muy pequeñas */
  }

  input::placeholder {
    font-size: 16px; /* Más pequeño en pantallas menores a 480px */
  }
}
